<div class="col-md-5">
  <h3>Public profile</h3>
  <div class="form-group">
    {{!-- <img id="avatar" src={{defaultAvatarUrl}}> --}}
    Profile picture<br>
    <div>{{image-input file=model.avatar disableRemove=true defaultUrl=defaultAvatarUrl}}</div>
  </div>
  <div class="form-group" style="clear:both">
    Name {{ember-inplace-edit text=model.username value=model.username
           editIcon="hidden"}}
  </div>
  <div class="form-group">
    Public email {{ember-inplace-edit text=model.email value=model.email
                   editIcon="hidden"}}
  </div>
  <div class="form-group">
    About yourself {{ember-inplace-edit text=model.info value=model.info
                     editIcon="hidden"}}
  </div>
  <div class="form-group">
    URL {{ember-inplace-edit text=model.url value=model.url
          editIcon="hidden"}}
  </div>
  <div class="form-group">
    Location {{ember-inplace-edit text=model.location value=model.location
               editIcon="hidden"}}
  </div>
  <div class="btn btn-success" {{action "save"}}>Update profile</div>
  
</div>
