<div class="container">
  <div class="btn btn-default" {{action "runGroup"}}>run Group</div>
  <h2>Group info</h2>
  {{group-info}}
  <form>
    <h2>Group settings</h2>
    <div class="row">
      <div class="form-group col-md-3">
        Name: {{input value=model.name class="form-control"}}
      </div>
      <div class="form-group col-md-3">
        <br>
        <div class="btn btn-default" {{action "saveRecord"}}>Save</div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        Fields: {{input value=model.fields class="form-control"}}
      </div>
    </div>
    <div class="row">
      {{#each fields as |field|}}
        {{option-field model=model field=field}}
      {{/each}}
    </div>

    {{#textarea value=model.code cols="80" rows="20" class="form-control"}}{{/textarea}}
  </form>

</div>
