<div class="container">
  <div class="btn btn-default" {{action "startGame"}}>start</div>
  <form>
    <h2>Game rules</h2>
    <div class="row">
      <div class="form-group col-md-3">
        Name: {{input value=model.name class="form-control"}}
      </div>
      <div class="form-group col-md-3">
        <br>
        <div class="btn btn-default" {{action "saveRecord"}}>Save</div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        Rounds: {{input value=model.options.rounds class="form-control"}}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-4">
        Timeout: {{input value=model.options.timeoutM class="form-control"}}m {{input value=model.options.timeoutS class="form-control"}}s
      </div>
    </div>

    {{#textarea value=model.code cols="80" rows="20" class="form-control"}}{{/textarea}}

    <div class="btn btn-default" {{action "saveRecord"}}>save</div>
  </form>

</div>
