<!-- <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{link-to 'WEB Interface' 'application' class="navbar-brand"}}
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {{#navbar-link route='application' currentRouteName=currentRouteName}}
          Devices
        {{/navbar-link}}
        {{#navbar-link route='admin' currentRouteName=currentRouteName}}
          Admin
        {{/navbar-link}}
      </ul>
      {{authorization-button}}
    </div>
  </div>
</nav> -->
<header>
  <div class="page_size">
    <div class="headerContent">
      <div class="cybergizer">
        <img src="images/cybergizer_img.png" alt="">
        <span>Robatz Network</span>
        <p>Cybernetics of Smart Things</p>
      </div>
      <div class="desktopMenu">
        {{authorization-button user=currentUser}}
      </div>
    </div>
  </div>
    <div id="ornament_top">&nbsp;</div>
</header>
<!--
<section>
  <div class="page_size">
    <div class="content_section">
      <div class="contentH1">
        <span>Robotics,</span>
        <p>Made Easy With Us</p>
      </div>
      <div class="contentLogo "><img src="images/logo.png"  alt="" class="img-responsive center-block"></div>
      <div class="contentButtonGroup">
        <a href=""><button><img src="images/main_button_icon_1.png" alt="">Checkout what's hot</button></a>
        <a href=""><button class="button_right"><img src="images/main_button_icon_2.png" alt="">Request Services</button></a>
      </div>
      <div class="main_page_p">
        <div class="margin_right">
          <p>We do workshops, conduct
              trainings and presentations and we like to learn from each other.
              </p>
        </div>
        <div>
          <p>You have a great project to do and you do not have the tools or skills?</p>
        </div>
      </div>
      <div class="contentH2">
        <span>Learn, Build and Programm your things</span>
        <p>All in One Laboratory</p>
      </div>
      <div class="live_demo_bloc"><button class="live_demo">Live Demo</button></div>
    </div>
  </div>
</section>


<footer>
<div id="ornament_bottom">&nbsp;</div>
  <div class="page_size">
    <div class="footer-content">
      <div class="footerMenu">
        <div class="footerCall">
          <div class="circle"><img src="images/call_icon.png" alt=""></div>
            <h1>Call</h1>
            <p>T: 123-456-7890 <br> F: 123-456-7890 </p>
          </div>
          <div class="footerCall">
            <div class="circle"><img src="images/contact_footer_icon.png" alt=""></div>
            <h1>Contact</h1>
            <p>info@mysite.com</p>
          </div>
          <div class="footerCall">
            <div class="circle"><img src="images/follow_icon.png" alt=""></div>
            <h1>Follow me</h1>
            <div class="footer_icon">
              <a href=""><img src="images/fac_icon.png" alt=""></a>
              <a href=""><img src="images/tw_icon.png" alt=""></a>
              <a href=""><img src="images/g_icon.png" alt=""></a>
            </div>
          </div>
          <div class="footerCop">
            <div class="circle"><img src="images/copirate_icon.png" alt=""></div>
            <p>© 2023 by The Mobilizers. <br> Proudly created with Wix.com </p>
          </div>
      </div>
    </div>
  </div>
</footer>
-->
<!-- <div class="container"> -->
<!-- <div class="container">
  {{authorization-button user=currentUser}}

</div> -->
<!-- </div> -->
<!-- <footer class="footer">
  <div class="container">
    <p class="text-muted">НИЛ Робототехники</p>
  </div>
</footer> -->
{{outlet}}
