<div class="col-md-4"></div>
{{#if model.authorized}}
<div class="col-md-4">
  {{#if success}}
    <div class="alert alert-success" role="alert">
      Saved!
    </div>
  {{/if}}
  {{#if errors}}
    <div class="alert alert-danger" role="alert">
      {{errors}}
    </div>
  {{/if}}
  <form>
    <div class="row">
      <div class="row device-edit-image">
        {{image-input file=model.icon disableRemove=true defaultUrl="/images/blank-profile.png"}}
      </div>
      <div class="form-group">
        Username: {{input value=model.username class="form-control"}}
      </div>
      <div class="form-group">
        Password: {{input value=model.password class="form-control" type="password"}}
      </div>
      <div class="form-group">
        Password confirmation: {{input value=model.passwordConfirmation class="form-control" type="password"}}
      </div>
    </div>

    <div class="btn btn-success" {{action "save"}}>Save</div>
  </form>
</div>
{{/if}}
<div class="col-md-4"></div>
