{{#if success}}
  <div class="alert alert-success" role="alert">
    Saved!
  </div>
{{/if}}
{{#if errors}}
  <div class="alert alert-danger" role="alert">
    {{errors}}
  </div>
{{/if}}
<form>
  <div class="col-md-12">
{{!-- <div class="col-md-4">
  <div class="row device-edit-image">
    {{image-input file=model.avatar disableRemove=true defaultUrl=defaultAvatarUrl}}
  </div>
</div> --}}
<div class="col-md-3 tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li>
      <a href="#" {{action "goto"}}>
        <i>Profile</i>
      </a>
    </li>
    <li>
      <a href="#" {{action "goto"}}>
        <i>Account</i>
      </a>
    </li>
  </ul>
</div>
<div class="col-md-4">
{{!-- {{#unless edit}}
    <b>Email:</b> {{model.email}}
    <b>Username:</b> {{model.username}}
    <br>
    <div class="btn btn-default" {{action "edit"}}>Edit</div>
  {{/unless}}
  {{#if edit}}
    <div class="form-group">
      Email: {{input value=temp_email class="form-control" disabled=model.confirmed}}
    </div>
    <div class="form-group">
      Username: {{input value=temp_username class="form-control"}}
    </div>
    <div class="form-group">
      Old password: {{input value=temp_oldPassword class="form-control" type="password"}}
    </div>
    <div class="form-group">
      Password: {{input value=temp_password class="form-control" type="password"}}
    </div>
    <div class="form-group">
      Password confirmation: {{input value=temp_passwordConfirmation class="form-control" type="password"}}
    </div>
    <div class="btn btn-success" {{action "save"}}>Save</div>
    <div class="btn btn-success" {{action "reject"}}>Reject</div>
    {{#link-to 'delete_profile' class="btn btn-danger"}}Delete{{/link-to}}
  {{/if}} --}}
  <div class="form-group">
    Profile image <br>
    <img id="avatar" src={{defaultAvatarUrl}}>
    {{!-- {{image-input file=model.avatar disableRemove=true defaultUrl=defaultAvatarUrl}} --}}
  </div>
  <div class="form-group">
    Name {{ember-inplace-edit text=model.username value=model.username
               editIcon="hidden" action="save"}}
  </div>
  <div class="form-group">
    Public email {{ember-inplace-edit text=model.email value=model.email
            editIcon="hidden" action="save"}}
  </div>
  <div class="form-group">
    About yourself {{ember-inplace-edit text=model.info value=model.info
                     editIcon="hidden" action="save"}}
  </div>
  <div class="form-group">
    URL {{ember-inplace-edit text=model.url value=model.url
            editIcon="hidden" action="save"}}
  </div>
  <div class="form-group">
    Location {{ember-inplace-edit text=model.location value=model.location
            editIcon="hidden" action="save"}}
  </div>
</div>
<div class="col-md-4">
  {{#each model.providersStatus as |provider|}}
    {{#if provider.status}}
    <a class="btn btn-block btn-social btn-{{provider.name}}" {{action "disconnect" provider.name}}>
        DISCONNECT {{provider.name}}
      <span class="fa fa-{{provider.name}}"></span>
    </a>
    {{/if}}
    {{#unless provider.status}}
    <a class="btn btn-block btn-social btn-{{provider.name}}" {{action "connect" provider.name}}>
        Sign in with {{provider.name}}
      <span class="fa fa-{{provider.name}}"></span>
    </a>
    {{/unless}}
  {{/each}}
</div>
</div>
</form>
