<div class="col-md-4">
  {{#if success}}
    <div class="alert alert-success" role="alert">
      Saved!
    </div>
  {{/if}}
  {{#if error}}
    <div class="alert alert-danger" role="alert">
      "Error"
    </div>
  {{/if}}
  <!--<form>
    <div class="row">
      <div class="form-group">
        Username: {{input value=username class="form-control"}}
      </div>
      <div class="form-group">
        Password: {{input value=password class="form-control"}}
      </div>
    </div>
    <div class="btn btn-success" {{action "signin"}}>SignIn</div>
  </form> -->
  <div class="contactImputBlock">
    <div class="imputLeftBlock">
    Username: {{input value=username class="form-control"}}
    Password: {{input value=password class="form-control"}}
    </div>
    <div class="btn btn-success" {{action "signin"}}>SignIn</div>
  </div>
</div>
