<div class="commit-block">
  <div class="btn btn-default" {{action 'command' "forward"}}>forward</div>
  <div class="btn btn-default" {{action 'command' "left"}}>left</div>
  <div class="btn btn-default" {{action 'command' "right"}}>right</div>
  <div class="btn btn-success" {{action 'commit'}}>commit</div>
</div>
<br>
{{#each commandList as |cmd|}}
  <div class="command btn-warning col-md-1">
    {{cmd}}
  </div>
  <br>
{{/each}}
