<div class="alert {{statusClass}}" role="alert">{{statusText}}</div>

{{#if displayStats}}
  {{#unless moving}}
    Timeout: {{timeout}}s
  {{/unless}}
  {{#unless prepare}}
    <br>
    Current round: {{round}}/{{rounds_total}}
  {{/unless}}
{{/if}}
