<div class="alert {{statusClass}}" role="alert">{{statusText}}</div>

{{#if displayStats}}
  Timeout: {{timeout}}s
  {{#unless prepare}}
    <br>
    Current round: {{round}}/{{rounds_total}}
  {{/unless}}
{{/if}}
