<div class="alert {{statusClass}}" role="alert">{{status}}</div>

{{#unless finish}}
  Timeout: {{timeout}}s
  {{#unless prepare}}
    <br>
    Current round: {{round}}/{{rounds_total}}
  {{/unless}}
{{/unless}}
