<div class="row">
  <div class="col-md-4">
    <form>
      <div class="row device-edit-image">
          {{image-input file=model.icon disableRemove=true defaultUrl="/images/optimization_icon.png"}}
      </div>
      <div class="row">
        <div class="form-group">
          Device ID: {{input value=model.hwid class="form-control"}}
        </div>
      </div>
      <div class="row">
        <select onchange={{action "selectAlgorithm" value="target.value"}} class="form-control">
          <option value=""></option>
          {{#each algorithms as |algorithm|}}
            <option value={{algorithm.id}} selected={{eq model.algorithm.id algorithm.id}}>{{algorithm.name}}</option>
          {{/each}}
        </select>
        <!-- {{select-code model=model.algorithm options=algorithms valueKey="id" labelKey="name" name=model.algorithm.name value=model.algorithm.id modelName="algorithm" device=model}} -->
      </div>
      <div class="row">
        <div class="btn btn-warning" {{action "update" model}}>Update</div>
        <div class="btn btn-danger" {{action "delete" model}}>Delete</div>
      </div>
    </form>
  </div>

  <div class="col-md-8">
    {{#if model.algorithm}}
      ruby code: <br>
      {{#ace-editor mode="ruby" value=model.algorithm.algorithm}}{{/ace-editor}}
    {{/if}}
  </div>
</div>
<div class="row">
  {{#if model.algorithm}}
    {{std-output data=output}}
  {{/if}}
</div>
