<div class="row">
  <div class="col-md-3">
    Name:
  </div>
  <div class="col-md-6">
    {{input value=module.name class="form-control"}}
  </div>
  <div class="col-md-3">
    <div class="btn btn-success" {{action "save"}}>Save</div>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    {{select-bootstrap options=shelfModulesOptions value=selectedModule}}
  </div>
  <div class="col-md-2">
    <div class="btn btn-default" {{action "addMod"}}>+</div>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  {{#each module.mods as |mod|}}
    {{device-module-mod mod=mod comp=module}}
  {{/each}}
</div>
