{{partial "partials/save-message"}}
<div class="col-md-4">
  <form>
    <div class="row">
      <div class="form-group">
        Device ID: {{input value=model.hwid class="form-control"}}
      </div>
    </div>
    <!-- <div class="row">
      <div class="form-group">
        Group: {{input value=model.group class="form-control"}}
      </div>
    </div> -->
    <div class="row">
      <div class="checkbox form-group">
        <label>
          {{input type="checkbox" checked=model.manual}} Manual
        </label>
      </div>
    </div>
    <div class="row">
      {{#if model.manual}}
        {{select-code model=interface options=interfaces valueKey="interfaceId" labelKey="interfaceId" value=model.interfaceId modelName="interface"}}
      {{else}}
        {{select-code model=algorithm options=algorithms valueKey="algorithmId" labelKey="algorithmId" value=model.algorithmId modelName="algorithm"}}
      {{/if}}
    </div>
    <!-- <br>
    {{image-input imageWidth=100 file=model.icon}}
    <br> -->
    <div class="row">
      <div class="checkbox form-group">
        <label>
          {{input type="checkbox" checked=model.useProxy}} Proxy
        </label>
      </div>
    </div>
    <div class="row">
      <div class="">
        {{#if model.useProxy}}
          Algorithm:
          {{select-bootstrap options=algorithms valueKey="algorithmId" labelKey="algorithmId" value=model.proxyId}}
        {{/if}}
      </div>
    </div>
    <div class="row">
      <div class="btn btn-danger" {{action "update" model}}>Update</div>
      {{#if model.online}}
        {{#if model.manual}}
          <div class="btn btn-warning" {{action "control" model}}>Control</div>
        {{/if}}
      {{/if}}
    </div>
  </form>
</div>

<div class="col-md-8">
  {{#if controlUrl}}
    <iframe class="control col-md-12" height="500" src="{{controlUrl}}"></iframe>
  {{else}}
    {{#if model.manual}}
    {{#if interface}}
      body, html: <br>
      {{#ace-editor mode="html" value=interface.interface cols="80" rows="20"}}{{/ace-editor}}
    {{/if}}
    {{/if}}

    {{#unless model.manual}}
    {{#if algorithm}}
      ruby code: <br>
      {{#ace-editor mode="ruby" value=algorithm.algorithm}}{{/ace-editor}}
      output:
      {{output}}
    {{/if}}
    {{/unless}}
  {{/if}}
</div>
