{{#if user.authorized}}
{{#if errorDeviceManager}}
  <div class="alert alert-danger" role="alert">Сonnection is not established!</div>
{{/if}}
<div class="col-md-12"><h3>Devices</h3>
  <div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
      {{#each devices as |device|}}
        {{#if device.active}}
          <li class="active">
            <a href="#" {{action "selectDevice" device}}>
              {{device.hwid}}
              {{#if device.online}}
                <img src="images/online.png" height="10px">
              {{/if}}
            </a>
          </li>
        {{else}}
          <li>
            <a href="#" {{action "selectDevice" device}}>
              {{device.hwid}}
              {{#if device.online}}
                <img src="images/online.png" height="10px">
              {{/if}}
            </a>
          </li>
        {{/if}}
      {{/each}}
      <li><a>
      </a></li>
      <li>
        <a href="#" {{action "createDevice"}}>
          <i>create New</i>
        </a>
      </li>
    </ul>
    <div class="tab-content">
      {{#if currentDeivce}}
        <div class="col-md-10">
          {{device-edit model=currentDeivce algorithms=algorithms interfaces=interfaces}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
{{/if}}
