{{#if record}}
  Write new name:
  <div class="row">
    <div class="col-md-9">
      <div class="form-group">
        {{input value=record.name class="form-control"}}
      </div>
    </div>
    <div class="col-md-3">
      <a href="#" {{action "save"}}>close</a>
    </div>
  </div>
{{else}}
  {{modelName}}
  <div class="row">
    <div class="col-md-9">
      {{select-bootstrap options=options valueKey=valueKey labelKey=labelKey value=value}}
    </div>
    <div class="col-md-3">
      <a href="#" {{action "add"}}>add</a>/
      <a href="#" {{action "delete"}}>delete</a>
    </div>
  </div>
{{/if}}
