<!DOCTYPE html>
<html>
<head>
  <title>devices</title>
  <style type="text/css">
    #left-column {
      float: left;
      width: 50%;
    }
    #right-column {
      float: right;
      width: 50%;
    }
    #selectList {
      width: 100px;
    }
  </style>
  <script type="text/javascript" src="/jquery-2.2.0.min.js"></script>
</head>
<body>
  <div id="left-column">
    <b>Available devices</b>, <a href="/edit/new">new</a>
  <br>
  <% @records.each do |record| %>
    <%= record["hwid"] %>, <a href="/edit/<%=record["hwid"]%>">edit</a>,
    <a href="/delete/<%=record["hwid"]%>">delete</a><br>
    <%= record["algorithm"] %>
    <hr>
  <% end %>
  </div>
  <div id="right-column">
    <b>Manual control</b>
    <br>
    <div class="connectBlock">
      <select multiple="multiple" size="3" id="selectList">
      </select>
      <br>
      <button id="selectButton">Select</button>
      <button disabled>Update</button>
    </div>
    <div class="controlBlock">

    </div>
    <script type="text/javascript">
    $(function() {
      function currentHost() {
        return location.protocol + '//' + location.hostname + ':' + <%= ENV['HWSERVER_PORT'] %>
      }

      $.get(currentHost() + '/devices/list/manual', function( data ) {
        $.each($.parseJSON(data)["keys"], function(i, key) {
          $('#selectList').append("<option selected>" + key + "</option>")
        });
      });

      $('#selectButton').click(function (argument) {
        deviceId = $('#selectList').find(":selected").text();
        $('.controlBlock')
          .html('<iframe src="/control-iframe/' + deviceId + '"  width="400" height="500"></iframe>')

      });
    });
    </script>
  </div>
</body>
</html>
