{{outlet}}
<form  method="POST">
  Device ID: {{input value=model.hwid}}
  <br>
  Manual: {{input type="checkbox" checked=model.manual}}
  <br>
  {{#if model.manual}}
    Interface ID:{{input value=model.interfaceId}}
  {{else}}
    Algorithm ID:{{input value=model.algorithmId}}
  {{/if}}
  <br>
  <button {{action "saveRecord"}}>Save</button>
</form>
