{{outlet}}
<form  method="POST">
  Device ID: {{input value=model.hwid}}
  <br>
  Manual: {{input type="checkbox" checked=model.manual}}
  <br>
  Algorithm ID:{{input value=model.algorithm_id}}
  <br>
  Interface ID:{{input value=model.interface_id}}
  <br>
  <button {{action "saveRecord"}}>Save</button>
</form>
