{{partial "partials/save-message"}}
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="{{activeDevice "builder" activeLink}}">
      {{#link-to 'devices.device.builder' model}}
        Builder
      {{/link-to}}
    </li>
    <li class="{{activeDevice "control" activeLink}}">
      {{#link-to 'devices.device.control' model}}
        Control
      {{/link-to}}
    </li>
    <li class="{{activeDevice "program" activeLink}}">
      {{#link-to 'devices.device.program' model}}
        Program
      {{/link-to}}
    </li>
    <li class="{{activeDevice "settings" activeLink}}">
      {{#link-to 'devices.device.settings' model}}
        Settings
      {{/link-to}}
    </li>
  </ul>
  <div class="tab-content">
    <div class="col-md-12">
      {{outlet}}
    </div>
  </div>
</div>
