{{partial "partials/save-message"}}
<div class="row">
  <div class="col-md-4">
    <form>
      <div class="row device-edit-image">
          {{image-input file=model.icon disableRemove=true defaultUrl="/images/optimization_icon.png"}}
      </div>
      <div class="row">
        <div class="form-group">
          Device ID: {{input value=model.hwid class="form-control"}}
        </div>
      </div>
      <div class="row">
        {{select-code model=algorithm options=algorithms valueKey="id" labelKey="name" name=algorithm.name value=model.algorithmId modelName="algorithm" device=model}}
      </div>
      <div class="row">
        <div class="btn btn-warning" {{action "update" model}}>Update</div>
        <div class="btn btn-danger" {{action "delete" model}}>Delete</div>
      </div>
    </form>
  </div>

  <div class="col-md-8">
    {{#if controlUrl}}
      <iframe class="control col-md-12" height="500" src="{{controlUrl}}"></iframe>
    {{else}}
      {{#if model.manual}}
      {{#if interface}}
        body, html: <br>
        {{#ace-editor mode="html" value=interface.interface cols="80" rows="20"}}{{/ace-editor}}
      {{/if}}
      {{/if}}

      {{#unless model.manual}}
      {{#if algorithm}}
        ruby code: <br>
        {{#ace-editor mode="ruby" value=algorithm.algorithm}}{{/ace-editor}}

      {{/if}}
      {{/unless}}
    {{/if}}
  </div>
</div>
<div class="row">
  {{#if algorithm}}
    {{std-output data=output}}
  {{/if}}
</div>
