<div class="container">
  <form>
    <div class="row">
      <div class="form-group col-md-3">
        Device ID: {{input value=model.hwid class="form-control"}}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        Group: {{input value=model.group class="form-control"}}
      </div>
    </div>
    <div class="row">
      <div class="checkbox form-group">
        <label>
          {{input type="checkbox" checked=model.manual}} Manual
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        {{#if model.manual}}
          Interface:
          {{select-bootstrap options=interfaces valueKey="interfaceId" labelKey="interfaceId" value=model.interfaceId}}
        {{else}}
          Algorithm:
          {{select-bootstrap options=algorithms valueKey="algorithmId" labelKey="algorithmId" value=model.algorithmId}}
        {{/if}}
      </div>
    </div>
    <br>
    {{image-input imageWidth=100 file=model.icon}}
    <br>
    <div class="row">
      <div class="checkbox form-group">
        <label>
          {{input type="checkbox" checked=model.useProxy}} Proxy
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        {{#if model.useProxy}}
          Algorithm:
          {{select-bootstrap options=algorithms valueKey="algorithmId" labelKey="algorithmId" value=model.proxyId}}
        {{/if}}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        <div class="btn btn-default" {{action "saveRecord"}}>Save</div>
      </div>
    </div>
  </form>
</div>
